apispec==3.3.*
apispec-webframeworks==0.5.*
click==7.1.*
Flask==1.1.*
itsdangerous==1.1.*
Jinja2==2.11.*
MarkupSafe==1.1.*
marshmallow==3.5.*
psycopg2-binary==2.8.*
PyYAML==5.3.*
Werkzeug==1.0.*
hvac==1.2.*